#head {
	padding: 30px;
	padding-top: 80px;
}

#head h1 {
	font-size: 32px;
	font-family: 'Signika', sans-serif;
	text-align: center;
	color: white;
	background-color: #5C00E6;
	border: 1px solid #5C00E6;
	border-radius: 22px;
	padding: 30px;
	width: 150px;
	margin: auto;
}

form {
	padding: 20px;
	margin: auto;
	text-align: center;
}

#numArea {
	background-color: #E6E6E6;
	border: 0px;
	border-radius: 6px;
	margin: auto;
	text-align: center;
	padding: 10px 20px;
}

#submit {
	background-color: #5C00E6;
	color: white;
	border: 0px;
	border-radius: 6px;
	text-align: center;
	margin: auto;
	padding: 10px 20px;
}

#result {
	text-align: center;
	margin: auto;
	font-family: 'Signika', sans-serif;
	padding-top: 30px;
	width: 70%;
}

#result li {
	padding: 8px;
	display: inline-block;
}